@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(216, 216, 216, 0.932);
}

#header {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(245, 240, 225);
  box-shadow: -5px 5px 20px white;
  height: 10vh;
  position: fixed;
  left: 0;
}

#header > img {
  height: 30vh;
  width: auto;
  z-index: 2;
  top: -10vh;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

#header > #nav-bar {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
  right: 0;
  top: 0;
  height: 10vh;
}

#header > #nav-bar > a {
  text-decoration: none;
  align-self: center;
  color: black;
  font-weight: 600;
  font-size: 25px;
  transition: 0.3s;
}

#header > #nav-bar > a:hover {
  transform: skewX(-10deg) scale(1.2);
  color: gray;
}

main,
footer {
  display: flex;
  flex-direction: column;
  width: 55vw;
  margin: 0 auto;
}

#video {
  width: 55vw;
  height: 50vh;
  align-self: center;
  margin-top: 150px;
}

#form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 50px auto;
}

#form > label {
  font-size: 16px;
  font-weight: 500;
}

#form > input#email {
  height: 40px;
  border-radius: 8px 8px 0 0;
  padding: 0 5px;
  border: 1px solid black;
  border-bottom: none;
}

#form > input#submit {
  height: 40px;
  border-radius: 0 0 8px 8px;
  border: 1px solid black;
  border-top: none;
  background-color: rgb(245, 240, 225);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

#section1 > h1,
#section2 > h1,
#section3 > h1 {
  color: rgb(59, 59, 59);
  margin: 20px 0;
}

#section1 > p {
  color: rgb(77, 77, 77);
  margin-bottom: 10px;
}

#section2 > ul > li {
  color: rgb(77, 77, 77);
  margin-bottom: 10px;
  margin-left: 16px;
}

#section3 > h2 {
  color: rgb(77, 77, 77);
  font-size: 16px;
  margin-bottom: 10px;
}

#section3 > h3 {
  color: rgb(77, 77, 77);
  font-size: 16px;
  margin-bottom: 10px;
}

#section3 > p {
  color: rgb(77, 77, 77);
  font-size: 14px;
  margin-bottom: 10px;
}

footer {
  margin-bottom: 50px;
}
